spring:
  datasource:
    url: jdbc:mysql://localhost:3306/scsprbasic2025summer
    username: root
    password: abcd1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        jdbc:
          time_zone: Asia/Seoul
  thymeleaf:
    cache: false
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
    remote:
      restart:
        enabled: false
  freemarker:
    cache: false
  sql:
    init:
      mode: always

external:
  jwt:
    tokenSecretKey: cfc6f8968e16e357e2a588674174bc2ca34b538e9f759d081d48721fd0aa1f626188fca140ca58a5b88d6e98b3302c52f49f7fa1dc06924c34ecd45b31ba675e
    tokenPrefix: Bearer/u0020
    accessKey: Authorization
    accessTokenExpirationTime: 1800000
    refreshKey: RefreshToken
    refreshTokenExpirationTime: 1209600000