<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <style>
        .hide{
            display: none;
        }
    </style>

    <!--wysiwyg 를 위한 코드 (quill)-->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>
detail <br/>
id : <input type="number" id="input_id" readonly="readonly"/> <br/>
deleted : <input type="checkbox" id="input_deleted" /> <br/>
userId : <input type="text" id="input_userId" /> <br/>
title : <input type="text" id="input_title" /> <br/>
content : <div id="div_content_editor"></div>
<input type="hidden" class="input_param" id="div_content_editor_html" name="content"><br/>
img : <input type="text" id="input_img" /> <br/>
countlike : <input type="number" id="input_countlike"/> <br/>
liked : <input type="checkbox" id="checkbox_liked"  onchange="toggle_postlike()"/> <br/>
<img id="image_img" style="height: 100px"/><br/>
imgs :
<div id="div_imgs"></div><br/>
<button onclick="detail_post()">조회하기</button>
<!--<button onclick="toggle_postlike()">좋아요!</button>-->
<button onclick="update_post()" id="btn_update" class="hide btn_mine">수정하기</button>
<button onclick="delete_post()" id="btn_delete" class="hide btn_mine">삭제하기</button>

<script>
    let userId = localStorage.getItem("userId");


    function init_editor(){
        let tempId = "div_content_editor";
        quilljsediterInit(tempId);
    }
    function quilljsediterInit(tempId){
        var option = {
            modules: {
                toolbar: [
                    [{header: [1,2,false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            placeholder: '자세한 내용을 입력해 주세요!',
            theme: 'snow'
        };

        let quill = null;
        quill = new Quill('#' + tempId, option);
        quill.on('text-change', function() {
            document.getElementById(tempId + "_html").value = quill.root.innerHTML;
        });
        quill.getModule('toolbar').addHandler('image', function () {
            selectLocalImage(quill);
        });
    }
    function selectLocalImage(obj_quill) {
        const fileInput = document.createElement('input');
        fileInput.setAttribute('type', 'file');
        console.log("input.type " + fileInput.type);

        fileInput.click();

        fileInput.addEventListener("change", function () {  // change 이벤트로 input 값이 바뀌면 실행
            uploadFile(fileInput, obj_quill);
        });
    }
    function uploadFile(fileInput, obj_quill) {
        // 파일 담기
        let tempFile = null;
        let inputFile = fileInput;
        if (inputFile.files.length > 0) {
            tempFile = inputFile.files[0];
        }
        let fileData = new FormData();
        fileData.append("file", tempFile);

        $.ajax({
            url: "/api/default/upload",
            type: "POST",
            data: fileData ,
            cache : false,
            contentType : false,
            processData : false,
            success: (data, status, xhr)=>{
                let range = obj_quill.getSelection(); // 사용자가 선택한 에디터 범위
                obj_quill.insertEmbed(range.index, 'image', "/image/" + data);
            },
            error: (data)=>{
                alert("error")
            },
        });

    }


    function watch_postlike(){
        $.ajax({
            url: '/api/postlike/watch',
            method: 'GET',
            contentType : 'application/json; charset=utf-8',
            data : {
                userId : userId,
                postId : $("#input_id").val()
            },
            success: function (data, status, xhr) {
                //alert("data : " + JSON.stringify(data));
                $("#checkbox_liked").prop("checked", data["isLiked"]);
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function toggle_postlike(){
        let checkbox_liked = $("#checkbox_liked").prop("checked");
        $.ajax({
            url: '/api/postlike/toggle',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                userId : userId,
                postId : $("#input_id").val(),
                like : checkbox_liked
            }),
            success: function (data, status, xhr) {
                //alert("data : " + JSON.stringify(data));
                let countlike = data["countlike"];
                $("#input_countlike").val(countlike);
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function delete_post(){
        $.ajax({
            url: '/api/post',
            method: 'DELETE',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                id : $("#input_id").val()
            }),
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function update_post(){
        $.ajax({
            url: '/api/post',
            method: 'PUT',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                id : $("#input_id").val()
                , deleted : $("#input_deleted").prop("checked")
                , title : $("#input_title").val()
                , content : $("#div_content_editor_html").val()
            }),
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }

    $(function(){
        let tempHref = location.href;
        let tempArray = tempHref.split("/");
        if(tempArray.length > 0){
            tempHref = tempArray[tempArray.length -1];
        }
        tempArray = tempHref.split("?");
        if(tempArray.length > 0){
            tempHref = tempArray[0];
        }
        $("#input_id").val(tempHref);
        detail_post();
    });
    function detail_post(){
        $.ajax({
            url: '/api/post',
            method: 'GET',
            data : {
                id : $("#input_id").val()
            },
            success: function (data, status, xhr) {
                //alert("data : : " + JSON.stringify(data));
                let post = data;

                let nowUserId = post["userId"];
                //alert(nowUserId);
                if(userId + "" === nowUserId + ""){
                    //alert("내 글인데요!!");
                    $(".btn_mine").removeClass("hide");
                }

                let tempKeys = Object.keys(post);
                for(let each of tempKeys){
                    let tempType = $("#input_" + each).attr("type");
                    if(tempType === "checkbox"){
                        $("#input_" + each).prop("checked", post[each]);
                    } else {
                        $("#input_" + each).val(post[each]);
                    }
                }

                $("#div_content_editor").html(post["content"]);
                $("#div_content_editor_html").val(post["content"]);
                init_editor();

                $("#image_img").attr("src", post["img"]);

                let imgs = post["imgs"];
                for(let each of imgs) {
                    $("#div_imgs").append(
                    '<img src="'+each["img"]+'" style="height: 100px"/> <br/>'
                    );
                }

                //좋아요 했는지 여부 확인!
                watch_postlike();
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>