<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.sprbasic2025summer.mapper.PermissionuserMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.sprbasic2025summer.dto.PermissionuserDto$DetailResDto">
		SELECT permissionuser.id
			, permissionuser.deleted
		 	, permissionuser.created_at as createdAt
		 	, permissionuser.modified_at as modifiedAt

			, permissionuser.permission_id as permissionId
			, permissionuser.user_id as userId
		FROM permissionuser
		WHERE permissionuser.id = #{id}
	</select>

	<sql id="commonWhere">
		WHERE permissionuser.id is not NULL
		<if test = "deleted != null">AND permissionuser.deleted = #{deleted}</if>
		<if test = "permissionId != null and permissionId !=''">AND permissionuser.permission_id = #{permissionId}</if>
		<if test = "userId != null and userId !=''">AND permissionuser.user_id = #{userId}</if>
	</sql>

	<select id="list" parameterType="hashMap" resultType="com.thc.sprbasic2025summer.dto.PermissionuserDto$DetailResDto">
		SELECT permissionuser.id
		FROM permissionuser
		<include refid="commonWhere"/>
	</select>


	<select id="pagedList" parameterType="hashMap" resultType="com.thc.sprbasic2025summer.dto.PermissionuserDto$DetailResDto">
		SELECT permissionuser.id
		FROM permissionuser
		<include refid="commonWhere"/>
		ORDER BY
		<if test = "orderby != null and orderby =='id'">permissionuser.id</if>
		<if test = "orderby != null and orderby =='title'">permissionuser.title</if>
		<if test = "orderway != null and orderway =='desc'"> DESC</if>
		<if test = "orderway != null and orderway =='asc'"> ASC</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT count(permissionuser.id) as listsize
		FROM permissionuser
		<include refid="commonWhere"/>
	</select>

	<select id="scrollList" parameterType="hashMap" resultType="com.thc.sprbasic2025summer.dto.PermissionuserDto$DetailResDto">
		SELECT permissionuser.id
		FROM permissionuser
		<include refid="commonWhere"/>

		<if test = "orderway != null and orderway =='desc'">
			<if test = "cursor != null and cursor !=''">AND #{cursor} > permissionuser.id </if>
			ORDER BY permissionuser.id DESC
		</if>
		<if test = "orderway != null and orderway =='asc'">
			<if test = "cursor != null and cursor !=''">AND permissionuser.id > #{cursor}</if>
			ORDER BY permissionuser.id ASC
		</if>
		LIMIT 0, #{perpage}
	</select>
</mapper>